<div class="row">
  <div>
    <app-steps></app-steps>
  </div>

  <div class="col-md-12 step__body">
    <form class="step-form">
      <div class="form-group row">
        <div class="col-md-4">
          <label for="listA">List A*</label>
          <select class="form-control" id="listA">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="listB">List B*</label>
          <select class="form-control" id="listB">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="listC">List C*</label>
          <select class="form-control" id="listC">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
    </form>
    <div class="step__buttons">
      <button type="button" class="pull-right btn btn-warning next-btn" (click)="next()">
        Next
      </button>

      <button type="button" class="pull-left btn btn-warning prev-btn" (click)="previous()">
        Back
      </button>
    </div>
  </div>
</div>
