<div class="row">
  <div class="col-md-4 order-md-1">
    <img class="main__img" src="/assets/food_waste.png"/>
  </div>

  <div class="col-md-8 order-md-0">
    <div class="col-md-12 main__header">
      <div class="text-danger h1 main__header__title">
        Track <i class="ml-3 text-info fa fa-line-chart" aria-hidden="true"> </i>
      </div>
    </div>

    <div class="col-md-12 main__body">
      <div>
        Food waste is thrown away in the usual way into any bin, which is placed on our smart weighing meter technology.
      </div>

      <button type="button" class="pull-right btn btn-warning next-btn" (click)="next()">
        Use our FREE waste calculator
      </button>
    </div>
  </div>
</div>
